VITE_APP_NAME=northsiderentals
VITE_APP_VERSION=9.2.6

## Supabase Configuration
## Replace with your Supabase project URL and anon key
VITE_SUPABASE_URL=https://ixyawrcfebtwwackheda.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4eWF3cmNmZWJ0d3dhY2toZWRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MjYyODIsImV4cCI6MjA5MDEwMjI4Mn0.YK6nWjqcv9B6gj_fMpiTkWgcb-MAl7jIrDdVUvGZI08
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4eWF3cmNmZWJ0d3dhY2toZWRhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNjI4MiwiZXhwIjoyMDkwMTAyMjgyfQ.cINJitQ5XI3KuvEubTeNNHFbpVJnnezZv_tfGcVLoqg